<!DOCTYPE html>
<html lang="en" data-theme="retro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/home'}) %>

  <section class="container mx-auto">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img src="https://www.brickvault.toys/cdn/shop/files/Grevious_Head_MOC_store_photos_05_1050x1050.png?v=1696784525" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">Collector's Lego sets</h1>
          <p class="py-6">Start exploring lego sets today!</p>
          <button class="btn btn-primary"><a href="/lego/sets">Start Exploring</a></button>
        </div>
      </div>
    </div>
    <div class="grid lg:grid-cols-3 gap-4">
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/001-1.jpg" alt="Set 001-1" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Gears</h2>
          <p>This set was released in America (USA/CAN) by Samsonite in 1965. It was re-released in 1969 as an educational set (322-4). It was never released in Europe.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="/lego/sets/001-1">Set 001-1</a></button>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/003-1.jpg" alt=" Set003-1" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Master Mechanic Set</h2>
          <p>This set was released in America (USA/CAN) by Samsonite in 1966. It was never released in Europe.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="/lego/sets/003-1">Set 003-1</a></button>
          </div>
        </div>
      </div>
      <div class="card w-96 bg-base-100 shadow-xl">
        <figure>
          <img class="w-full" src="https://cdn.rebrickable.com/media/sets/02-2.jpg" alt="Set 02-2" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Digger Bucket Assembly</h2>
          <p>This set is similar to 705-4, 24-2, and 1124-1.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"><a href="/lego/sets/02-2">Set 02-2</a></button>
          </div>
        </div>
      </div>
    </div>
  </section>



</body>

</html>