<!DOCTYPE html>
<html lang="en" data-theme="retro">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lego Collection</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body tabindex="-1">
  <%- include('partials/navbar', {page: '/lego/sets'}) %>

  <section class="container mx-auto">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row">
        <img src="https://www.wbnq.com/wp-content/uploads/sites/377/2016/10/13649193723_0881c78ec7_z.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div>
          <h1 class="text-5xl font-bold">Collection</h1>
          <p class="py-6">test</p>
          <button class="btn btn-primary"><a href="/">Go Home</a></button>
        </div>
      </div>
    </div>
  </section>



</body>

</html>